<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   
   <h1>Create a Basketball Team!</h1>
   
   <form method="post" action="/newteam">
      <p>Team Name: <input type="text" name="team_name"></p>
      <p>Coach: <input type="text" name="coach"></p>
      <input id="Submit" type="submit">
    </form>
   
 </body>
</html>


